/* ---------------descr-------------------------------------------------------- */

.descr__container {
    display: flex;
   
}
.descr__imgblock {
    flex: 1 1 47%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.descr__block {
    flex: 1 1 53%;
}
.descr-big {
    width: 469px;
    height: 469px;
    overflow: hidden;
    position: relative;
}
.descr-big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.descr-small {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 15px;
}
.simage {
    min-width: 140px;
    height: 140px;
    border: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.simage.active {
    border: 2px solid #B93B54;
}
.simage img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    z-index: -1;
}


/* ---------------descr__block---------------- */


.descr__header {
    display: flex;
    align-items: flex-end;
}
.descr__header h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 71px;
    margin: 0;
}
.descr__header a {
    padding: 0 0 10px 10px;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.descr__stars {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}
.descr__stars a {
    padding-left: 20px;
    font-size: 15px;
    line-height: 22px;
    color:#000000;
}
.descr-p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 0;
}
.descr-price {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
}
.descr-c {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}
.descr-s {
    margin: 5px 0 19px 0;
    font-size: 18px;
    line-height: 27px;
}
.descr__block .size-block {
    padding: 0;
    margin-bottom: 42px;
}
.descr__btn input {
    font-size: 24px;
    line-height: 36px;
    
}
.btn2 {
    background: none;
    background-image: url(/img/svg/like\ 1.svg);
    background-repeat: no-repeat;
    background-position: top 50% left 40px;
    border: 1px solid #000000;
    color: #B93B54;
    padding: 10px 69px 10px 88px;
}
.btn1 {
    background-image: url(/img/svg/shopping-bag\ 1.svg);
    background-position: top 60% left 25%;
    padding: 10px 84px 10px 124px;
}
.descr__sotial {
    margin: 25px 0;  
}
.descr__sotial img {
    margin-right: 25px;
}
.descr__shopping {
    background: #FAFAFA;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.descr__shopping p {
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.descr__shopping hr {
    display: block;
    width: 60%;
}
.descr-delivery {
    width: 100%;
    display: flex;  
    justify-content: center;
    row-gap: 5px;
    column-gap: 80px;
    flex-wrap: wrap;
}
.descr-delivery p {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    flex: 1 1 50%;
    max-width: 150px;
    position: relative;
    text-align: left;
}
.descr-delivery p:last-child {
    max-width: 170px;
}
.descr-delivery p::before {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    left: -45px;
}
.descr-delivery p:first-child:before { 
    content:url(/img/svg/free-delivery\ 1.svg);
}
.descr-delivery p:last-child::before { 
    content:url(/img/svg/exchange\ 1.svg);
}

/* ---------------details-------------------------------------------------------- */

.details h2,
.reviews h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 71px;
    text-align: center;
}
.details__container {
    max-width: 915px;
    padding: 45px 90px 76px 90px;
    background-color: #FAFAFA;
    height: auto;
}
.details p, 
.details__list li {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
}
.details__list li {
    list-style: inside;
    list-style-position: outside;
}

/* ---------------reviews-------------------------------------------------------- */

.reviews {
    background-color: #333333;
    margin-top: 63px;
}
.reviews__container {
    padding: 0 5px;
}
.reviews h2 {
    color: #ffffff;
    margin: 0;
    padding: 40px;
}

.reviews__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 20px;
}
.reviews__card {
    max-height: 231px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px; 
    padding: 25px;
    flex: 0 1 426px;
    display: flex;
}
.reviews__stars {
    flex: 1 1 40%;
}
.reviews__stars p {
    font-size: 14px;
    line-height: 21px;
    margin: 4px;
}
.reviews__text {
    flex: 1 1 60%;
}
.reviews__text p {
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 16px;
}
.reviews__card .star  {
    width: 17px;
    height: 17px;
}
.reviews__card .card-stars {
    text-align: left;
    height: auto;
    line-height: 0;
}
.reviews__container .slider {
    position: inherit;
    margin: 0;
    padding: 50px 0;
    justify-content: end;

}
/* ---------------rating-------------------------------------------------------- */

.rating {
    margin-top: 50px;
}
.rating__container {
    max-width: 1152px;
    background-color: #FAFAFA;
    padding-bottom: 38px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

.form__elem {
    /* width: 480px; */
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 77px;

}
.form__elem::before {
    content: url(/img/svg/group_star.svg);
    display: block;
    overflow: auto;  
}

.form__items {
    position: absolute;
    width: 336px;
    height: 100%;
    top: 0;
    left: 148px;
    display: flex;
   
    flex-direction: row-reverse;
    overflow: hidden;
}
.rating-item {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.rating-label {
    flex: 0 0 20%;

    height: 100%;
    cursor: pointer;
}

.rating-label:hover,
.rating-label:hover ~ .rating-label,
.rating-label:checked ~ .rating-label:hover {
    width: 52px;
    height: 52px;
    background-image: url(/img/Star5.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.rating-item:checked,
.rating-item:checked ~ .rating-label {
    width: 52px;
    height: 52px;
    background-image: url(/img/Star5.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


.rating__form {
    align-items: center;
    padding: 0 83px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form__data {
    width: 200%;
}
.data-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.data-header input{
    flex: 0 0 49%;
}
textarea {
    width: 100%;
    margin-top: 20px;
    border: 1px solid gray
}
input::placeholder,
textarea::placeholder {
    font-size: 18px;
    line-height: 27px;
    color: #333333;
    opacity: 0.5;
    padding-left: 20px;
}
.form-btn {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 7px 88px;
    background-color: #A04955;
    border: none;
    margin-top: 25px;
}

/* ---------------@media-------------------------------------------------------- */


@media (max-width: 991px) {
    .descr__container {
        flex-direction: column;
    }
    .form__data {
        width: 130%;
    }
}
@media (max-width: 675px) {
    .form__data {
        width: 100%;
    }
}
@media (max-width: 600px) {

    .form__elem {
        display: block;
        margin-bottom: 15px;
    }
    .form__elem p {
        position: absolute;
        top: -10px;
       
    }
    .form__elem::before {
        content: "";
        width: 240px;
        height: 45px;
        background-image: url(/img/svg/group_star.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 200px;
        
    }
    .form__items {
        position: absolute;
        width: 240px;
        height: 100%;
        top: 0;
        left: 208px;
        display: flex;
        gap: 2px;
        flex-direction: row-reverse;
        overflow: visible;
    }
    .rating-item:checked,
     .rating-item:checked ~ .rating-label {
        width: 45px;
        height: 37px;
    }
}
@media (max-width: 575px) {
    .search__links p {
        margin: 0;
    }
    .descr__header h2,
    .details h2,
    .reviews h2 {
        font-size: 35px;
    line-height: 50px;
    }
    .descr-big {
        width: 320px;
        height: 320px;
    }
    .descr-small {
        gap: 20px;
    }
    .simage {
        min-width: 120px;
        height: 120px;
    }
    .descr-delivery p,
    .descr-delivery p:last-child {
        max-width: 120px;
    }
    .details__container {
        padding: 25px 20px 36px 20px;
    }
    .details p, 
    .details__list li {
        font-size: 16px;
        line-height: 20px;
    }
    .reviews__card {
        padding: 15px;
    }
    .reviews__card .star {
        width: 12px;
        height: 12px;
    }
    .rating__container h2 {
        margin: 0;
    }
    .rating__form {
        padding: 0;
    }

}
@media (max-width: 480px) {
    .form__elem::before {
        margin: 0;
    }
    .form__items {
        left: 8px;
    }
    .form__elem {
        margin-bottom: 50px;
    }
    .form__elem:last-child {
        margin-bottom: 20px;
    }
    .form__elem p {
        top: -60px;
    }
    .rating__container p {
        margin-bottom: 50px;
    }
    .form__data {
        width: 50%;
    }
    .form__data {
        width: 100%;
    }
    .data-header {
        display: block;
    }
    .data-header input {

        width: 100%;
    }
}  
@media (max-width: 350px) {
     .descr__btn input {
        padding: 10px 65px 10px 55px;
    }
    .card-btn {
        background-position: top 60% left 5%;
    }
    .descr__btn .btn2 {
        padding: 10px 18px 10px 53px
    }
}
@media (max-width: 322px) {
    .descr__stars a {
    padding-left: 5px;
    }
    .descr__sotial img {
        margin-right: 15px;
    }
    .reviews__text p {
        line-height: 14px;
    }
    .footer-rights p {
        margin: 9px;
        font-size: 12px;
    }
   
}

